.tableBodyCell,
.tableHeadCell,
.tableHeadCellActive,
.tableHeadCellDisable {
  padding: 0.6rem;
  vertical-align: top !important;
}
.tableBodyCell {
  font-size: 0.8rem;
  border-bottom: 1px solid #ccc;
}

.tableHeadCell,
.tableHeadCellActive,
.tableHeadCellDisable {
  border-bottom: 1px solid #ededed;
  font-weight: 100;
  font-size: 0.7rem;
}

.tableHeadCellActive {
  color: var(--primary-color);
  cursor: pointer;
}

.tableHeadCell:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
