.switcher {
  display: flex;
  justify-content: space-between;
}

.switcher li {
  list-style: none;
  margin: 0.5rem;
  cursor: pointer;
}

.langMenuActiveItem {
  color: var(--primary-color);
  font-size: 1rem;
}

.langMenuItem {
  color: var(--light-grey-color);
  font-size: 1rem;
}
