.footer {
  color: var(--light-grey-color);
  padding: 1rem 2rem;
}
.footerWrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
}

.logoFooter {
 color: var(--primary-color);
}

.copyright {
  margin-top: 3rem;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 54px;
}


.copyright {
  margin-top: 1rem;
  font-size: .7rem;
}